<section class="search">
  <mat-card class="search__card card card--centered my-50">
    <mat-card-header class="search__card-header">
      <mat-card-title class="search__card-title">
        Поиск фильмов
      </mat-card-title>
      <mat-card-subtitle class="search__card-subtitle">
        Введите название в строке поиска
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="search__card-content px-15">
      <div class="search__input-wrap">
        <mat-form-field class="search__form-field">
          <input
            matInput
            placeholder="Поиск"
            [value]="search"
            (input)="search = $event.target.value"
          >
        </mat-form-field>
      </div>

      <div class="search__list">
        <mat-list>
          <h3 class="pa-0" mat-subheader>Список найденных фильмов</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>ondemand_video</mat-icon>
            <h4 mat-line>Name</h4>
            <p mat-line>Date</p>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-actions class="search__card-actions px-20">
      <button
        mat-stroked-button
        color="primary"
      >Найти</button>
    </mat-card-actions>
  </mat-card>
</section>
