<section class="search">
  <mat-card class="search__card card card--centered my-50">
    <mat-card-header class="search__card-header">
      <mat-card-title class="search__card-title">
        Поиск фильмов
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="search__card-content px-15">
      <div class="search__input-wrap">
        <form class="search__form-wrap">
          <form class="search__form">
            <mat-form-field class="search__form-field">
              <input
                type="text"
                placeholder="Введите название фильма на английском"
                aria-label="Введите название фильма на английском"
                matInput
                [value]="search"
                (input)="searchFilms($event.target.value)"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of films$"
                  [value]="option.Title"
                  (click)="getFilmDetails(option.imdbID)"
                >
                  {{ option.Title }} ({{ option.Year }})
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</section>
